#wrapper {
  height: 100vh;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.text-justify {
  text-align: justify;
}

.accordion-button::after {
  width: 0;
}

.navbar-brand {
  margin-left: var(--bs-navbar-brand-margin-end);
}

.btn {
  margin-right: var(--bs-navbar-brand-margin-end);
}

.accordion {
  padding-bottom: 1rem;
}

.alert {
  --bs-alert-border-radius: 0;
}

.bi {
  width: 1em;
  height: 1em;
}

footer {
  width: max-content;
  margin: auto;
  padding-bottom: 1rem !important;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer-hr {
  margin: 0;
  margin-bottom: 1rem;
  width: 100vw;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav li {
  margin: 0 var(--bs-navbar-brand-margin-end);
}
